---
import SubPage from "../layouts/SubPage.astro";

import Divider from "../components/Divider.astro";
import SectionTitle from "../components/SectionTitle.astro";

import {employmentText} from '../utils/employment-text';
import ageText from '../utils/age-text';

interface ProjectType {
  description: string
  name: string
  url: string
}

interface WorkType {
  company: string
  date: string
  description: string
  title: string
  url: string
}

const response = await fetch("https://api-tomo.uchuu.io/api/me",
  {
    method: 'POST',
    headers: {'Content-Type':'application/json'},
    body: JSON.stringify({
      query: `
				query {
					personal {
            name
            birthday
            location
            based
            contact {
              email
              github
              linkedin
            }
            projects {
              description
              name
              url
            }
            skills
            work {
              company
              date
              description
              title
              url
            }
          }
				}
			`,
    }),
  }
);

const json = await response.json();
const { data } = json;
const { personal } = data;
---
<SubPage title="Thomas' resume" isResume={true}>
  <div class={`container max-w-screen-lg mx-auto p-8 text-base`}>
    <section>
      <div class="sm:flex items-baseline">
        <h1 class="text-5xl">{personal.name}</h1>
        <h2 class="text-2xl ml-4">aka. Tom, Tomo <small class="text-sm">He/Him</small></h2>
      </div>
      <ul class="mt-4">
        <li>{personal.location}</li>
        <li>
          <a href={`mailto:${personal.contact.email}`} title={personal.contact.email}>{personal.contact.email}</a>
        </li>
        <li>
          <a href={personal.contact.linkedin} title={personal.contact.linkedin}>{personal.contact.linkedin}</a>
        </li>
        <li>
          <a href={personal.contact.github} title={personal.contact.github}>{personal.contact.github}</a>
        </li>
      </ul>
    </section>

    <Divider />

    <section class="text-justify">
      <p>So hello there, I'm {personal.name}. I'm {ageText(personal.birthday)}, from {personal.location} and currently {employmentText(personal)}.</p>
      <p class="my-8">I'm a frontend developer with a focus on building components with js libraries like reactjs (preferred) & vuejs in frameworks like NextJS + Gatsby along with a combination of most css solutions (css, scss, less, stylus, postcss, css in js, tailwind). Storybook is ❤.</p>
      <p class="my-4">I've also done a small small of backend work in javascript with node aswell as having used PHP and Laravel in the past.</p>
      <p class="my-8">Outside of coding, I'm a big fan of things japanese but mostly enjoy music (and mostly <a href="/idols" title="Tomo's favourite idols">IDOL</a> at that) and aesthetics. I used to try to get over there at least once a year and I'm trying to learn the language via a tutor, self teaching and going to meetups.</p>
      <p class="my-8">Gamewise most of my time is taken up playing the critically acclaimed Final Fantasy 14 which has an unlimited free trial up to level 60 that includes the award winning Heavensward expansion. I mostly play ranged support roles and have ranked as the best in role at a given fight in Europe.</p>
      <p class="my-8">I also play drums occasionally, used to be in a band but I still keep playing to keep skills up, because of that I do finger drum in the office (sorry not sorry).</p>
    </section>

    <Divider />

    <section>
      <SectionTitle>Experience</SectionTitle>
      {personal.work.map((work: WorkType) => (
        <section class="grid grid-cols-12 gap-4 my-6">
          <div class="col-span-12 sm:col-span-5">
            <p class="font-bold">{work.title}</p>
            {work.url !== "" ? (
              <p>{work.company}</p>
              <p>{work.url}</p>
            ) : (
              <p>{work.company}</p>
            )}
            <p>{work.date}</p>
          </div>
          <p class="col-span-12 sm:col-span-7">{work.description}</p>
        </section>
      ))}
    </section>

    <Divider />

    <section>
      <SectionTitle>Projects</SectionTitle>
      {personal.projects.map((project: ProjectType) => (
        <section class="my-6">
          <div>
            <p class="font-bold">{project.name}</p> 
            <p>{project.url}</p>
          </div>
          <p>
            {project.description}
          </p>
        </section>
      ))}
    </section>

    <Divider />

    <section>
      <SectionTitle>Skills</SectionTitle>
      <ul class="grid grid-cols-2 sm:grid-cols-4 gap-4 text-center mt-4">
        {personal.skills.map((skill: string) => (
          <li>{skill}</li>
        ))}
      </ul>
    </section>

    <Divider />

    <section>
      <SectionTitle>Education</SectionTitle>
      <section class="my-6">
        <p class="font-bold">BTEC</p>
        <p>DB Training / Harlow College, 2011 - 2013</p>
        <p>Level 2 & Level 3 Web Developer</p>
      </section>

      <section class="my-6">
        <p class="font-bold">GCSEs</p>
        <p>Great Baddow High School, 2005 - 2010</p>
        <p>Biology, Chemistry, Physics - A</p>
        <p>Maths - B</p>
        <p>English, English Literature - C</p>
      </section>
    </section>
  </div>
</SubPage>